@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  margin: 0;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* common task */
.contaienr {
  background-color: #ffffff;
  width: 870px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-top: 30px;
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
}
.players .player .player-image img {
  width: 56px;
  height: 56px;
}
.player-name {
  color: #000000;
  font-size: 18px;
  margin-left: 16px;
}

.section-title {
  font-size: 24px;
  color: #562eff;
  margin-top: 42px;
  margin-bottom: 40px;
}

/* Blog Area  */

.top-blog-title {
  font-size: 24px;
  color: #562eff;
  margin-bottom: 30px;
}
.blogs .blog .blog-banner img {
  width: 224px;
  height: 127px;
}
.blog {
  display: flex;
}
.blog-detail {
  margin-left: 16px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}
.blog-title {
  color: #000000;
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}

/*Course Area*/
.course {
  width: 252px;
  height: 269px;
  padding: 15px 5px 15px 5px;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  border-radius: 15px;
}
.courses {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.courses .course img {
  width: 224px;
  height: 104px;
}
.fa-star {
  font-size: 12px;
  color: #ffc014;
}
.unfilled-star {
  color: #aeaeae;
}
.rating {
  color: #a2a2a2;
  font-size: 20px;
}
.course-time {
  color: #ff4a60;
  font-size: 20px;
}
.time-bg {
  background-color: #fee5df;
  border-radius: 10px;
}
.course-info {
  display: flex;
  justify-content: space-between;
}
.course-author {
  color: #ed6b4f;
  font-size: 17px;
}
.course-title {
  font-size: 20px;
}
.latest-course-title {
  font-size: 24px;
  color: #562eff;
  margin-top: 24px;
  margin-bottom: 30px;
}

header {
  height: 94px;
  background-color: #562eff;
}
.head{
  width: 929px;
  height: 94px;
  /* background-color: white; */
  margin-left: 481px;
}
.left-icon img{
  width: 40px;
  height: 51px;
  margin-top: 25px;
}
.idea-logo{
  color: #FFFFFF;;
  font-weight: 500;
  font-size: 24px;
}

.logo{
  width: 51px;
  height: 51px;
  margin-top: 25px;
}
.head-items{
  display: flex;
  justify-content: space-between;
}

.right-icon a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 22px;
  margin-right: 24px;
}
.right-icon{
  margin-left: 455px;
  margin-top: 35px;
}

@media only screen and (max-width:688px){

  .contaienr{
    width: 100%;
  }
  .players, .blogs{
    grid-template-columns: repeat(1,1fr);
  }
  .player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blogs{
    margin-left: 10px;
  }
 .player .player-image img{
   width: 100px;
   height: 100px;
 }
 .courses{
   display: flex;
   flex-direction: column;
 }
 .course{
   margin-left: 75px;
   margin-bottom: 25px;
 }

.head{
  margin-left: -570px;
}
.head a{
  font-size: 19px;
}

}

@media only screen and (min-width:688px) and (max-width:992px){

}